
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <div>@ViewBag.Greeting World From the View!</div>
    <p>We're going to be having a party. <br />
    (To do: sell it better. Add pictures or something.)</p>
    <p>
        <a asp-action="RsvpForm">RSVP Now!</a>
    </p>
</head>
<body>
</body>
</html>
